<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Admin</a>
  <div class="nav-buttons ml-auto">
    <button class="btn btn-outline-light btn-profile">
      <img
        src="https://t4.ftcdn.net/jpg/02/29/75/83/360_F_229758328_7x8jwCwjtBMmC6rgFzLFhZoEpLobB6L8.jpg"
        class="rounded-circle"
        width="30"
        height="30"
        alt="User Profile"
      />
      mausam
    </button>
    <button class="btn btn-outline-light btn-signout" (click)="signOut()">
      Sign out
    </button>
  </div>
</nav>
